* {
    box-sizing: border-box;
}
img { width: 100%; }
body {
    font-family: Arial;
    font-size: 16px;
    background: #f5f5f5;
    /* background: #EFEBE9; */
    color: #3a3a3a;
    line-height: 1.5;
}
#wrap {
    /* max-width: 910px; */
    max-width: 850px;
    margin: 0 auto;
}
.logo {
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: -3px;
    color: #222;
    margin: 20px 30px;
    /* display: inline-block; */
    text-align: center;
}
.logo .number {
    color: #222;
    opacity: 0.1;
}
.logo span {
    color: #31bd31d4;
    color: #d7ccc8;
}
.auth {
    float: right;
    /* margin: 78px 33px; */
    font-family: Segoe UI;
    text-align: right;
    margin: -40px 33px;
}
.auth.main {
    /* margin: -100px 33px; */
    margin: -60px 33px;
}
.auth h1 {
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-weight: 600;
}
.auth p {
    margin: 0;
}
.auth a {
    text-decoration: none;
    color: #4881b3;
    font-size: 16px;
    font-weight: bold;
}
.auth a.logout {
    /* margin-top: 64px;
    display: inline-block; */
}
.navigation {
    margin-left: 33px;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #222;
    background: #4881b3;
    /* background: #392977; */
    color: #fff;
}
.navigation a:hover {
    color: #222;
    background: transparent;
}
.navigation a:active {
    color: #222;
    background: transparent;
}
.write {
    margin: 33px;
    padding: 20px;
    background: #fff;
}
.write input {
    background-color: #fbfbfb;
    border: 0;
    padding: 5px 10px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #efebe9;
    border: 2px solid #46464659;
    border: 2px solid #4646461f;
}
.write input:focus {
    background: #fff;
}
.write select {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 189px;
}
.write input[type="submit"] {
    /* background-color: #ccc; */
    cursor: pointer;
    background: #4881b3;
    /* background: #4391d6; */
    color: #fff;
}
.write input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.write textarea {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #fbfbfb;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #efebe9;
    border: 2px solid #46464659;
    border: 2px solid #4646461f;
    resize: vertical;
}
.write textarea:focus {
    background: #fff;
}
.container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 33px;
    background: #fff;
    overflow: hidden;
    /* box-shadow: 0 0 11px rgb(239, 239, 239); */
    /* box-shadow: 0 0 11px rgb(228, 228, 228); */
    /* box-shadow: 0 0 11px rgba(228, 228, 228, 0.58); */
    box-shadow: 0 0 11px rgba(228, 228, 228, 0.33);
}
.container a {
    color: #222;
}
.container .article-title {
    display: inline-block;
}
.container .article-title a {
    color: #3a3a3a;
    text-decoration: none;
}
.container .article-meta {
    font-size: 14px;
    color: #848484;
    color: #a5a5a5;
}
.container h2 {
    /* margin-bottom: 10px;
    color: #225fa0;
    */
    font-family: Segoe UI;
}
.container .read-more {
    display: inline-block;
}
.container .delete {
    display: inline-block;
    float: right;
    font-size: 14px;
}
.container .delete a {
    color: #a22e2e;
    background: #3498db;
    background: #c72020;
    color: #fff;
    padding: 5px 10px;
    font-size: 13.3333px;
    text-decoration: none;
}
.container .delete button {
    background: #3498db;
    background: #c72020;
    color: #fff;
}
.container table {
    font-size: 13px;
    margin-top: 20px;
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
    border: 1px solid #eaecee;
}

.container table tbody td {
    padding: 8px 10px;
    border: 1px solid #eaecee;
    vertical-align: top;
}

.container table thead td.tbl-title {
    width: 40%;
}

tr:hover {
    background-color: rgba(0,0,0,.04);
}

.container table .delete {
    background: #e65e5e;
    color: white;
    padding: 5px 10px;
}

.container table .edit {
    background: #2c8acc;
    color: white;
    padding: 5px 10px;
}

.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #efebe9;
    border: 2px solid #46464659;
    border: 2px solid #4646461f;
}
.container select {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 189px;
}
.container input[type="submit"] {
    /* background-color: #ccc; */
    cursor: pointer;
    background: #4881b3;
    /* background: #4391d6; */
    color: #fff;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.footer {
    padding: 20px;
    margin: 33px;
    text-align: right;
    font-size: 11px;
    opacity: 0.5;
}
.footer a {
    color: #454545;
}
.stat-block {
    width: 200px;
    padding: 20px;
    float: left;
    margin-right: 20px;
    background: #f5f5f5;
    /* border: 1px solid #d0d0d0; */
}
.st-last {
    margin-right: 0px;
}
.stat-block h4 {
    text-align: center;
}
.stat-block p {
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

.login {
    width: 350px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    margin-top: 75px;
    box-shadow: 0 0 11px rgba(228, 228, 228, 0.58);
}
.login input[type="text"] {
    display: flex;
    width: 100%;
    padding: 5px 10px;
}
.login input#password {
    width: 100%;
    padding: 5px 10px;
}
.login input[type="submit"] {
    margin-top: 10px;
}

:focus {
/*   -webkit-box-shadow: 0 0 4px dodgerblue;
          box-shadow: 0 0 4px dodgerblue; */
  outline: none;
}


/*
    Other elements
-----------------------*/

/*
    Self clear floats
*/
.group:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}